#nav
{
	float:right;
}
#nav a:hover
{
padding: 20px;
background-color: lightblue;
text-decoration: underline
}
#page

#logolink
{
	float: left;
	color: black
}
#content
{
	box-shadow: 1px 1px gray;
	margin: auto;
	background-color:white;
	border: 3px white;
	width: 50%;
	right: 50px;
	left: 50px;
	padding: 10px;
	clear:both
 }

li {
	float: right;
	box-shadow: 1px 1px gray;
	display:inline-block;
	text-align: center;
	background-color:blue;
	color: white;
	position:float;
    width: 50px;
    padding: 20px;
	top: 5px}
	
a {
	color: white;
	text-decoration:none;
}
#footer
{
text-align: right;
}
body
{
background-color: lightgray
}
